<div>
  <h1>Login</h1>
  <hr>
  <form [formGroup]="loginForm">
    <section *ngIf="!otp">
      <label for="phone">Enter Phone no. :</label>
      <small *ngIf="!loginForm.get('phone').valid && loginForm.get('phone').touched">

        *Invalid Phone number</small>
      <input type="text" formControlName="phone" id="phone">

      <br>

      <label for="card">Enter the last 4 digits of your credit card : </label>
      <small *ngIf="!loginForm.get('card').valid && loginForm.get('card').touched">

        * Invalid input</small>

      <input type="number" formControlName="card" id="card">

      <br>

      <!-- Disable the button if form is invalid -->
      <button (click)="next()" [disabled]="!loginForm.get('card').valid || !loginForm.get('phone').valid" class="nxt">Next</button>
    </section>

    <section *ngIf="!!otp">
      <label for="otp">Enter the OTP. :</label>
      <small *ngIf="!loginForm.get('otp').valid && loginForm.get('otp').touched">

        *Invalid OTP</small>
      <input type="number" formControlName="otp" id="otp">

      <br>

      <!-- disable the button if otp is invalid -->
      <button [disabled]="loginForm.invalid" (click)="login()" class="login">Login</button>
    </section>

  </form>
</div>
