<!-- Show an initial message in the format below -->
<!-- Obtain essential data of the user from Loans array in db.json using card id recieved -->
<ng-container *ngIf="!!loanData && !!cardData">
  <ng-container *ngIf="yyy > 0; else noCredit">
    <!-- Show this msg if the user has credit limit remaining -->
    <h2>Hi {{loanData.name}}, You have due of {{loanData.finalAmount}} Rs and you can upgrade the loan upto {{yyy}} Rs</h2>
  </ng-container>
  <ng-template #noCredit>
    <!-- Show this msg if the user has exhausted the credit limit -->
    <h2>Hi {{loanData.name}}, You have due of {{loanData.finalAmount}}Rs.</h2>
  </ng-template>

  <!-- find xxx (final amount) from the Loan data of the user and calculate yyy (credit limit - final amount) -->


<div *ngIf="showLoan">
  <table>
    <th colspan="2">Loan details</th>
    <tr>
      <td>Laon Amount</td>
      <td>{{loanData.principal}} Rs</td>
    </tr>
    <tr>
      <td>Interest</td>
      <td>6%</td>
    </tr>
    <tr>
      <td>Amount to be paid</td>
      <td>{{loanData.finalAmount}} Rs</td>
    </tr>
    <tr>
      <td>Duration</td>
      <td>{{loanData.duration}} Months</td>
    </tr>
    <tr>
      <td>Monthly EMI</td>
      <td>{{loanData.emi}} Rs</td>
    </tr>
    <ng-container *ngIf="yyy > 0">
    <tr>
      <ng-container *ngIf="!isSimulating; else simulating">
        <td colspan="2" id="upgrade">
          <button (click)="upgrade()">Upgrade</button>
        </td>
      </ng-container>
      <ng-template #simulating>
        <td>
          <button (click)="cancel()">Cancel</button>
        </td>
        <td>
          <button (click)="proceed()">Proceed</button>
        </td>
      </ng-template>
    </tr>
    </ng-container>

  </table>
</div>

<div *ngIf="!showLoan">
  <h1>Upgrade your Loan</h1>
  <hr>
  <form [formGroup]="loanForm">
    <label for="amount"><b>Enter the amount to add:</b></label>
    <small *ngIf="loanForm.get('amount').invalid && loanForm.get('amount').touched"></small>

    <!-- create a dynamic validation message like above if the ht euser entered an amount beyound the new upgrade limit -->
    <input type="text" id="amount" formControlName="amount">


    <br>
    <!-- Disable the button if amount is invalid or entererd amoun exceeds the new upgrade limit of the user -->
    <button [disabled]="disableViewBtn" (click)="view()" class="btn">View</button>
  </form>
</div>
</ng-container>
